// General variables ----
$default-fonts  : "Helvetica", Arial, sans-serif;
$base-font-name : 'lato';
$extra-font-name : 'sedgwickave';
$extra-font  : $extra-font-name, cursive;
// ----------------------

// Fonts path -----------
$fonts-path      : '../fonts/';

$fonts-data : (
        $base-font-name : (
                1: ('lato/', 'lato-light', 'lato light', 'latoLight', 300),
                2: ('lato/', 'lato-black', 'lato black', 'latoBlack', 700),
        ),
        $extra-font-name : (
                1: ('sedgwickave/', 'sedgwickave-regular', 'sedgwickave-regular', 'SedgwickaveRegular', 400)
        )
);
// ----------------------

// Fonts family variables
$base-font-size   : 62.5%; // 10px
