@font-face {
  font-family: 'Agne';
  src: url('../fonts/agne/agne-regular.woff2'),
       url('../fonts/agne/agne-regular.woff');
}

@font-face {
  font-family: 'FirasansBlack';
  src: url('../fonts/firasans/firasans-black.woff2'),
       url('../fonts/firasans/firasans-black.woff');
}

@font-face {
  font-family: 'FirasansLight';
  src: url('../fonts/firasans/firasans-light.woff2'),
       url('../fonts/firasans/firasans-black.woff');
}
